*{
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
body{
    background-color: blanchedalmond;
    #root{
        header{
            height: 70px;
            margin-top: 10px;
            background-color: rgb(248, 211, 156);
            h1{
                font-size: 50px;
                display: inline;
                font-family: 'Lobster', cursive;
                padding: 10px;
            }
            ul{
                float: right;
                margin-right: 60px;
                li{
                    display: inline;
                    padding: 20px;
                    a{
                        font-size: 40px;
                    }
                    a:hover{
                        color: rgb(201, 157, 92);
                    }
                    .material-icons{
                        font-size: 30px;
                    }
                }
            }
        }
        #greeting{
            text-align: center;
            font-family: 'Lobster', cursive;
            padding: 10px;
            font-size: 60px;
        }
    }
}