*{
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
}
a{
    color: black;
    text-decoration: none;
}
body{
    background-color: blanchedalmond;
    #root{
        header{
            height: 70px;
            margin-top: 10px;
            background-color: rgb(248, 211, 156);
            h1{
                font-size: 50px;
                display: inline;
                padding: 10px;
            }
            ul{
                float: right;
                margin-right: 60px;
                li{
                    display: inline;
                    padding: 20px;
                    a{
                        font-size: 40px;
                    }
                    a:hover{
                        color: rgb(201, 157, 92);
                    }
                    .material-icons{
                        font-size: 30px;
                    }
                }
            }
        }
        .grid{
                margin-bottom: 40px;
                display: grid;
                grid-template-columns: repeat(3, 200px);
                grid-template-rows: repeat(4, 200px);
                grid-column-gap: 180px;
                grid-row-gap: 200px;
                justify-content: center;
            .item {
                height: 325px;
                width: 280px;
                margin-top: 20px;
                text-align: center;
                background-color: rgb(245, 174, 82);
                div {
                    font-family: 'Pushster',cursive;
                    .nombre {
                        font-size: 32px;
                        margin-top: 10px;
                    }
                    div {
                        img {
                            border: 8px dotted rgb(192, 115, 20);
                            width: 150px;
                            height: 150px;
                            margin-bottom: 15px;
                        }
                    }
                    button {
                        background-color: bisque;
                        font-size: 25px;
                    }
                }
            }
        }
        #item{
            margin: 200px 430px 50px 520px;
            border: 10px black dotted;
            background-color: rgb(238, 190, 132) ;
            .flex{
                text-align: center;
                display: flex;
                height: 500px;
                width: 900px;
                .flexL{
                    height: 500px;
                    width: 500px;
                    h2{
                        font-size: 70px;
                    }
                    img{
                        height: 400px;
                        width: 400px;
                    }
                }
                .flexR{
                    height: 300px;
                    width: 500px;
                    #precio{
                        font-size: 50px;
                    }
                    #descripcion{
                        font-size: 30px;
                    }
                    .botones{
                        margin: auto;
                        text-align: center;
                        background-color: rgb(248, 188, 114);
                        height: 110px;
                        width: 300px;
                        .contador{
                            display: flex;
                            background-color: rgb(253, 228, 191);
                            width: 300px;
                            button{
                                border: 0px;
                                background-color: initial;
                                padding: 7px;
                                margin-left: 62px;
                                margin-right: 55px;
                                font-size: 25px;
                                color: rgb(70, 49, 21);
                            }
                            p{
                                width: 20px;
                                height: 20px;
                                padding: 10px;
                                font-size: 25px;
                            }
                        }
                        .agregarAlCarrito{
                            button{
                                height: 40px;
                                width: 250px;
                                background-color: rgb(252, 221, 183);
                                font-size: 23px;
                                margin-top: 6px;
                            }
                        }
                    }
                }
            }
        }
        #greeting{
            text-align: center;
            padding: 10px;
            font-size: 60px;
        }
    }
}